{% extends 'layout.html' %}

{% block title %}
    Display Page
{% endblock %}

{% block content %}
<style>
    h1 {
        color: #333;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .btn{
        background-color: #333;
        color: #f4f4f4;
        padding: 4px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        transition: background-color 0.3s;
        cursor: pointer;
        text-align: center;
    }
    .btn:hover{
        background-color: #555;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
    .btn1 {
        background-color: #333;
        color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        cursor: pointer;
        text-align: center;
    }

    .btn1:hover {
        background-color: #555;
    }

    
    a{
        text-decoration: none;
        color: #f4f4f4;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    </style>

<center>
    <h1>Shopping List </h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td>{{ note.item }}</td>
            <td>{{ note.quantity }}</td>
            <td>{{ note.category }}</td>
            <td><button class ='btn'><a href="{{ url_for('update', id=note.id) }}">Edit</a></button></td>
            <td><button class ='btn'><a href="{{ url_for('delete', id=note.id) }}">Delete</a></button></td>
        </tr>
        {% endfor %}
    </table>

</center>

{% endblock %}