{% extends 'layout.html' %}

{% block title %}
    Display Page
{% endblock %}


{% block content %}
    <style>
         p{
        color: red;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    }
    h1 {
        color: #333;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
    </style>

    </style>
    <table>
        <h1> User Profiles</h1>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Email</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}

{% endblock %}