{% extends 'layout.html' %}

{% block title %}
Shopping Page
{% endblock %}
{% block content %}
<style>
    .heading {
        color: #333;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
    }

    .list {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin-top:20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .email {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .password {
        margin-bottom: 10px;
        font-size: 16px;
    }

    input,select {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
    }

    .btn1 {
        background-color: #333;
        color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        cursor: pointer;
        text-align: center;
    }

    .btn1:hover {
        background-color: #555;
    }
    #loginPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    #loginPopup a {
        text-decoration: none;
        color: #007bff;
    }

    #loginPopup a:hover {
        text-decoration: underline;
    }
</style>



<center>
    <h1>Enter Shopping List page </h1>
    <div class ='list'>
        <form method="post">
            {% if m %}
                <p style="color: red;">{{ m }}</p>
            {% endif %}
            
            <input type="text" name="item" placeholder="Item" autocomplete="off">
            <input type="number" name="quantity" placeholder="Quantity" autocomplete="off">
            <select name="category">
                <option  value="Fruits">Fruits</option>
                <option value="Vegetables">Vegetables</option>
                <option value="Dairy">Dairy</option>
                <option value="Meat">Meat</option>
                <option value="Bakery">Bakery</option>
                <option value="Frozen">Frozen</option>
                <option value="Household">Household</option>
                <option value="Snacks">Snacks</option>
                <option value="Cleaning">Cleaning</option>
                <option value="Personal Care">Personal Care</option>
                <option selected value="Other">Other</option>
            </select>
            <input class="btn1" type="submit" value="Add">
            <a class="btn1" href="/display">Display</a>
        </form>
    </div>
   
</center>

{% endblock %}